<form action="/restaurants/{{restaurant._id}}/edit"
      method="POST">
  <div class="container m-5">
    <div class="mb-3">
      <label for="name"
             class="form-label">餐廳名字</label>
      <input type="text"
             class="form-control"
             id="name"
             name="name"
             value="{{restaurant.name}}"
             placeholder="餐廳名字">
    </div>
    <div class="mb-3">
      <label for="category"
             class="form-label">餐廳類別</label>
      <input type="text"
             class="form-control"
             id="category"
             name="category"
             value="{{restaurant.category}}"
             placeholder="餐廳類別">
    </div>
    <div class="mb-3">
      <label for="phone"
             class="form-label">電話</label>
      <input type="text"
             class="form-control"
             id="phone"
             name="phone"
             value="{{restaurant.phone}}"
             placeholder="電話">
    </div>
    <div class="mb-3">
      <label for="rating"
             class="form-label">評價</label>
      <input type="text"
             class="form-control"
             id="rating"
             name="rating"
             value="{{restaurant.rating}}"
             placeholder="評價">
    </div>
    <div class="mb-3">
      <label for="image"
             class="form-label">照片網址</label>
      <input type="text"
             class="form-control"
             id="image"
             name="image"
             value="{{restaurant.image}}"
             placeholder="照片網址">
    </div>
    <div class="mb-3">
      <label for="location"
             class="form-label">餐廳位置</label>
      <input type="text"
             class="form-control"
             id="location"
             name="location"
             value="{{restaurant.location}}"
             placeholder="餐廳位置">
    </div>
    <div class="mb-3">
      <label for="google_map"
             class="form-label">地圖網址</label>
      <input type="text"
             class="form-control"
             id="google_map"
             name="google_map"
             value="{{restaurant.google_map}}"
             placeholder="地圖網址">
    </div>
    <div class="mb-3">
      <label for="description"
             class="form-label">敘述</label>
      <input type="text"
             class="form-control"
             id="description"
             name="description"
             value="{{restaurant.description}}"
             placeholder="敘述">
    </div>
    <button type="submit">儲存</button>
    <a class="text-end" href="/">回首頁</a>
  </div>

</form>